
<body style="padding: 150px;">
	<div id="main-wrap">
		<div id="sidebar" >
			
			<img class="img-responsive" alt=""<%= image_tag 'about.jpg'%>
			
			
			
		</div>
		<div id="content-wrap">
			 <h2 class="section-heading ">Mision</h2>
			 <h5>REAL ANDINA S.R.L. es una empresa que industrializa, comercializa y exporta Quinua orgánica con alto valor nutritivo, basados en la eficiencia y mejora continua, cumpliendo normas de calidad nacional e internacional. Comprometidos a fortalecer la sostenibilidad con nuestros clientes, recursos humanos y productores; brindando calidad, oportunidad y un trabajo responsable.</h5>
			 <h2 class="section-heading">Vision</h2>
			 <h5>Ser líderes como una empresa exportadora de alimentos orgánicos y liderar la comercialización en el mercado nacional de la Quinua Orgánica con valor agregado, con tecnología moderna, recursos humanos competentes y comprometidos, promoviendo el desarrollo continuo de los productores.
			 </h5>

		</div>



	</div>
</body>