<body class="aboutCont">
	<br>
	<div class="container" id="abo">
		<div id="text">
			
			<div>

				<h2 class="text-center" id="text2">- Our Mission -</h2>
				<h5 id="text2">REAL ANDINA S.R.L. es una empresa que industrializa, comercializa y exporta Quinua orgánica con alto valor nutritivo, basados en la eficiencia y mejora continua, cumpliendo normas de calidad nacional e internacional. Comprometidos a fortalecer la sostenibilidad con nuestros clientes, recursos humanos y productores; brindando calidad, oportunidad y un trabajo responsable.</h5>
				<h2 class="text-center" id="text2">Vision</h2>
				<h5 id="text2">Ser líderes como una empresa exportadora de alimentos orgánicos y liderar la comercialización en el mercado nacional de la Quinua Orgánica con valor agregado, con tecnología moderna, recursos humanos competentes y comprometidos, promoviendo el desarrollo continuo de los productores.
				</h5>

			</div>



		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>