<body class="aboutCont">
	<br>
	<div class="container" id="abo">
		<div id="text">
			
			<div>

				<h2 class="text-center" id="text2">- Our Mission -</h2>
				<h5 id="text2">REAL ANDINA S.R.L. is a company that industrialization, markets and exports Organic quinoa with high nutritional value, based on efficiency and continuous improvement, meeting national and international standards of quality. Committed to strengthening sustainability with our producers, customers, human resources plan ; providing quality .</h5>
				<h2 class="text-center" id="text2">- Vision -</h2>
				<h5 id="text2">Being a leading exporter of organic foods and lead marketing in the domestic market for organic quinoa with added value, with modern technology, competent and committed human resources, promoting the continuous development of farmers.
				</h5>

			</div>



		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>