<div class="container-fluid">
    <div id="main-wrap">
        <div id="sidebar" >
            <div>
            <img src="/assets/logoreal.png" alt="Girl in a jacket" width="80%" height="100%">
                <h2><strong>Real Andina</strong></h2>
                <h3>
                    <p>Av 11 esq. Peru
                    <br>Uyuni, Bolivia</p>
                    <ul class="list-unstyled">
                        <p><span class="glyphicon glyphicon-phone"></span> phone: 72405571</p> 
                        <p> <span class="glyphicon glyphicon-envelope"></span> email: <a href="mailto:realandin@hotmail.com">realandin@hotmail.com</a></p>
                    </ul>
                </h3>
                <br>            
            </div>
        </div>
        <div id="outbar">
            
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Real%20andina%2CUyuni%2CBolivia&key=AIzaSyAxKeGc56vhL9_sadztWVvDp-eNDmSp-FM" allowfullscreen></iframe>
        </div>
    </div>
</div>    
