<div class="container-fluid">
    <div id="main-wrap">
        <div id="sidebar" >
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD6V6XW3azOaYxmkMmJGn1ybNI9wGkjwF4'></script><div style='overflow:hidden;height:60%;width:80%;'><div id='gmap_canvas' style='height:643px;width:843px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='http://maps-website.com/es'>En maps-generator.com</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=19657ccc806502a696641f889fc5db1316913448'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(-20.4585596,-66.82464119999997),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-20.4585596,-66.82464119999997)});infowindow = new google.maps.InfoWindow({content:'<strong>Real andina</strong><br>Av. 11, peru<br> uyuni<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
        </div>
        <div id="outbar">
            <div>
            <img src="/assets/logoreal.png" alt="Girl in a jacket" width="100%" height="100%">
                <h2><strong>Real Andina</strong></h2>
                <h3>
                    <p>Av 11 esq. Peru
                    <br>Uyuni, Bolivia</p>
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-earphone"></span></i> (2) 693-2863</li>
                        <p> <span class="glyphicon glyphicon-envelope"></span> email: <a href="mailto:realandin@hotmail.com">realandin@hotmail.com</a></p>
                    </ul>
                </h3>
                <br>            
            </div>
        </div>
    </div>
</div>    
