<body>
<header id="fondito">

     <div class="container">
            <div class="intro-text">
                
                <div class="intro-heading">Quinua Real Organica</div>
                <div class="intro-lead-in">Cultivada en el altiplano sur de Bolivia</div>
                <a href="/static_pages/about" class="page-scroll btn btn-xl">Know Us</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</header>
<body>