<div class="container">
    <div class="text-center">
        <h1>New Certificate</h1>
    </div>
    <%= render 'form', cert: @cert %>

    <%= link_to 'Back', certs_path, :class => 'btn btn-warning' %>
</div>
