
  <p id="notice"><%= notice %></p>
  <div id="cent">
  <p>
    
    <%= @cult.title %>
  </p>

  <div class="shadow"><img class="logo" <%= image_tag @cult.image.url %> 
  </div>
  
  

  <br>
  <%= link_to 'Atras', cults_path, :class=> 'btn btn-warning' %>
  </div>
