<div class ="container">
    <div class="well text-center">
        <h1>Create Product</h1>
    </div>
    <%= render 'form', pro: @pro %>
    
    <%= link_to 'Back', pros_path, :class => 'btn btn-warning' %>
</div>    
